
h1 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: azure;
    margin: auto;
    
}

h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: dimgrey;
    margin: auto;
}

a {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: green;
    margin: auto;
}

img {
    margin: auto;
}

video {
    margin: auto;
}

#background {
    text-align: center;
    background-color: black;
    margin: 0 0;
    padding: 0 0;
}